body{
    background-image: url(images/pink.avif);
    background-repeat: no-repeat;
    
    background-size: cover;
  
}
div{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}